.chatter-message-draft {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    width: 100%;
}

.chatter-message-draft__container {
    flex: 100 0 30px;
    margin-bottom: 0px;
}

.chatter-message-draft__add-button {
    flex: 1 0 30px;
    text-align: center;
    margin-left: 15px;
}

.chatter-lobby-input {
    width: 550px;
    float: left;
    margin-bottom: 15px;
}

.chatter-lobby-button {
    margin-bottom: 15px;
    box-sizing: border-box;
    margin-left: 565px;
}

.chatter-lobby-table {
    width: 735px;
    clear: both;
}

.chatter-lobby-table__cell {
    width: 560px;
}

.chatter-lobby-heading {
    font-size: 36px;
    margin-top: 0;
}

.chatter-group-subheading {
    font-size: 30px;
    float: left;
    margin-right: 15px;
    margin-top: 0;
    margin-bottom: 5px;
}

.chatter-group-attachment-button {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
}

.chatter-group-user {
    clear: both;
    padding: 5px 0px 30px 0px;
    color: #A0A0A0;
}

.chatter-group-messages {
    padding-bottom: 30px;
    overflow: auto;
}
