<?xml version="1.0" encoding="utf-8"?>
<PackageConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Namespace>StarcounterSamples.Chatter</Namespace>
  <Channel>Stable</Channel>  
  <Version>2.0.3</Version>
  <AppName>Chatter</AppName>
  <Executable>app/Chatter.exe</Executable>
  <ResourceFolder>Content</ResourceFolder>
  <ImageUri>Chatter.png</ImageUri>
  <Company>StarcounterSamples</Company>
  <DisplayName>Chatter</DisplayName>
  <Description>Sample app to chat about anything. Create chat rooms. Mention things to create attachments in chat messages. Messages are pushed over WebSocket.</Description>
  <VersionDate>2015-11-13T23:14:00Z</VersionDate>
  <Dependency name="Starcounter">~2.1.352</Dependency>
</PackageConfig>