<?xml version="1.0" encoding="utf-8"?>
<PackageConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Namespace>Polyjuice.Chatter</Namespace>
  <Channel>Stable</Channel>  
  <Version>0.0.0-pre3</Version>
  <AppName>Chatter</AppName>
  <Executable>app/Chatter.exe</Executable>
  <ResourceFolder>Content</ResourceFolder>
  <ImageUri>Chatter.png</ImageUri>
  <Company>Polyjuice</Company>
  <DisplayName>Chatter</DisplayName>
  <Heading>Chatter</Heading>
  <Description>Simple chat application (tested with Starcounter 2.0.3286.3)</Description>
  <VersionDate>2015-08-04T10:27:00Z</VersionDate>
</PackageConfig>